{% extends 'base.html' %}
{% load static %}

{% block title %} Создать статью {% endblock title%}

{% block body %}
<div class="container">
    <h1>Создать новую статью</h1>
    
    <form method="post">
        {% csrf_token %}
        
        <div>
            {{ form.title }}<br>
            {% for err in form.title.errors %}
                <small style="color:red">{{ err }}</small><br>
            {% endfor %}
        </div>
        
        <div>
            {{ form.text }}<br>
            {% for err in form.text.errors %}
                <small style="color:red">{{ err }}</small><br>
            {% endfor %}
        </div>

        <div>
            {{ form.category }}<br>
            {% for err in form.category.errors %}
                <small style="color:red">{{ err }}</small><br>
            {% endfor %}
        </div>
        
        <button type="submit" class="btn">Опубликовать</button>
        <a href="{% url 'index' %}" class="btn-cancel">Отмена</a>
    </form>
</div>
{% endblock body %}