{% extends "base.html" %}
{% load static %}
{% block title %} Обратная связь {% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock head %}
{% block body %}
<h1>Будем рады вашему отзыву</h1>
<form method="post" action="">
  {% csrf_token %}
  <div>
    {{ form.name }}<br>
    {% for err in form.name.errors %}<small style="color:red">{{ err }}</small><br>{% endfor %}
  </div>
  <div>
    {{ form.email }}<br>
    {% for err in form.email.errors %}<small style="color:red">{{ err }}</small><br>{% endfor %}
  </div>
  <div>
    {{ form.message }}<br>
    {% for err in form.message.errors %}<small style="color:red">{{ err }}</small><br>{% endfor %}
  </div>

  <button type="submit">Отправить</button>
</form>

{% if messages %}
  {% for m in messages %}
    {{ m }}
  {% endfor %}
{% endif %}
{% endblock body %}
