<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} base title {% endblock title %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url "index" %}">Главная</a></li>
            <li><a href="{% url "about" %}">О нас</a></li>
            <li><a href="{% url "contacts" %}">Контакты</a></li>
            <li><a href="{% url "feedback" %}">Отзывы</a></li>
        </ul>
    </nav>
    {% block body %} 
    
    {% endblock body %}
</body>
</html>