{% extends 'base.html' %}
{% load static %}

{% block title %} Крутой новостной блог {% endblock title%}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/category_menu.css'%}">
{% endblock head %}

{% block body %}

<h1 class="page-title">Добро пожаловать в новостной блог!</h1>


<div class="categories-menu">
    <strong>Категории:</strong>
    <a href="?category=" class="{% if not current_category %}active{% endif %}">Все</a>
    {% for value, label in categories %}
        <a href="?category={{ value }}" class="{% if current_category == value %}active{% endif %}">
            {{ label }}
        </a>
    {% endfor %}
</div>

<ul class="articles">
{% for article in articles %}
    <li>
    <a href="{% url 'news' article.object.id %}">{{ article.object.title }}</a>
    {% if article.is_new %}<strong class="badge-new">Новое!</strong>{% endif %}
    <span class="date">{{ article.object.created_date|date:"d.m.Y H:i" }}</span>
    <span class="autor">{{ article.object.user.username }}</span>
    <span class="category">[{{ article.object.get_category_display }}]</span>
    </li>
{% empty %}
<p>Статей пока нет. Будьте первым, кто добавит статью!</p>
{% endfor %}


</ul>
{% endblock body %}